<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>AWS Project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    .center-form{
          margin-left: auto;
          margin-right: auto;
          float: none;
    }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Wgraj nowy plik</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/list">Lista plików</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="/send" method="GET">
                    <table class="table table-hover">
                      <tr>
                        <th>Wybierz</th>
                        <th>Nazwa</th>
                      </tr>
                    <% elements.forEach(function(elem){ %>
                        <% if(elem.Key == uploaded) { %>
                        <tr class="success">
                            <td><input type="checkbox" value="<%= elem.Key  %>" name="keys"/></td>
                            <td><%= elem.Key.replace(prefix+"/", "")  %></td>
                        </tr>
                        <% } else { %>
                        <tr>
                            <td><input type="checkbox" value="<%= elem.Key  %>" name="keys"/></td>
                            <td><%= elem.Key.replace(prefix+"/", "")  %></td>
                        </tr>
                        <% } %>

                    <%}); %> 
                    </table>
                    <input type="submit" name="Konwertuj" class="btn btn-block btn-info">
                </form>
            </div>
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>